* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
  }
/* 
header,
aside,
table {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px auto;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m c c c c c c c c c"
}
 */
 .contributors {
            margin: 0px auto;
        }

        td,
        th {
            padding: 20px 50px 20px 20px;
            text-align: left;
            margin: 100px;
            background-color:  #F6F2E7;
        }

        tr,
        table,
        td,
        th {

            border: none;
            outline: none;

        }

        td,
        table {
            /* border: 7px solid black; */
            border-collapse: collapse;
            border-right: 7px solid white;
            /* border-top: 7px solid rgb(255, 255, 195); */
            /* border-bottom: 7px solid rgb(255, 255, 195); */
            /* border-left: 7px solid rgb(255, 255, 195); */
        }

        th {
            /* border: 7px solid black; */
            border-collapse: collapse;
            border-right: 7px solid white;
            /* border-top: 7px solid rgb(255, 255, 195); */
            border-bottom: 7px solid white;
            /* border-left: 7px solid rgb(255, 255, 195); */
        }

        /* 
        .heading {
            margin: 100px;
            width: 100%;
        } */
.sidebar > img {
  max-height: 100vh;
  margin-right: 50px;
   height: 700px;
  margin-top: 30px;
  margin-left:20px;
  width: 500px;
}

/* .header {
  grid-area: h;
} */

/* .sidebar {
  grid-area: m; */
/*   position: absolute; */
/*   width: 200px;
  height: 600px;
  left: 20px;
  top: 109px;
  background: #F7F2E7; */
/* } */

/* .contributors {
  grid-area: c;
} */

