.popup{
  width: 400px;
  background: #F6F2E7;
  border-radius: 10px;
  position: absolute;
  top:50%;
  left:50%;
  box-shadow: 0 2px 4px #F6F2E7;
  transform: translate(-50%,-50%);
  text-align: cennter;
  padding:0 30px 30px;
  /*sudo space will delete this file used it  to structure code before moving it into ui*/
}
.popup img{
  width:100px;
  
}
.popup button{
  width: 100px;
  margin-top: 50px;
  padding: 10px 0;
  background: #CAA369;
  color:fff;
  border: 0;
  outline: none;
  font-size: 20px;
  font-weight: 500;
}
.popup .detail{
  font-size: 20px;
  color:#222;

}
.popup .force{
  font-size: 20px;
  color:604844
}