*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #fff;
}

.main__container {
  height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px auto 100px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "a a a a m m m m m m m m"
        "a a a a s s s s s s s s";
}

.header {
  grid-area: h;
}

.image-container {
  grid-area: a;
}

.container {
  grid-area: m;
}

.provider {
  grid-area: s;
}

nav{
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    box-shadow: 3px 3px 5px #ceced1;
}

nav .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    max-width: 85%;
    padding: 0 20px;
}

.menu ul {
    display: flex;
    list-style: none;
    transition:all 0.5s ease-in-out;
    
}

.menu ul a{
    font-size: 22px;
    font-weight: 400;
    padding: 0 12px;
    color: #222222;
    text-decoration: none;
    margin: 0 8px;
    display: inline-flex;
    
}

.links{
    display: flex;
}

.menu ul a:hover, .menu ul a:visited{
    color: #CAA369;
}

nav label.button{
    font-size: 30px;
    color: #222222;
    cursor: pointer;
    display: none;
}

nav label.button:hover{
    color: #CAA369;
}

.nav-img img{
    display: none;
}



@media (max-width:768px){
    .menu ul{
        /* display: none; */
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        max-width: 220px;
        width: 100%;
        padding-top: 60px;
        background-color:#F6F2E7;
        box-shadow:0 3px 10px #ceced1;
        transform:translateX(100%);
      z-index:999;
    }

    .menu ul a{
        margin-top: 20px;
        text-align: left;
        font-size: 20px;
        display:block;
        width: 100%;
        
    }

    .links{
        display: block;
    }
   
    nav label.bars{
        display: block;
    }

    nav label.cancel{
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
    }

      .nav-img img{
        margin-top:180px;
        display: block;
        position: fixed;
        
        left: 12px;
    }

    
}



/*Home page styles - Desktop view*/

main{
    
    width: 100%;
    max-width: 100%;
    margin: auto;
    

}

.content-container{
    display: flex;
    flex-direction: row;
    margin:0 auto;
   align-items: center;
   justify-content: center;
    padding-top: 20px;
    max-width: 85%;
    
   
}

aside img {
    max-height: 100vh;
    margin-right: 50px;
    height: 700px;
  margin-top: 30px;
  margin-left:100px
 
}



.form-title{
    font-size: 35px;
    font-weight: 500;
    
}

form{
  width: 800px;

}

.fields{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
   
}

.input-fields{
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 30px);
    margin-bottom: 20px;
    margin-right: 20px;
}

.network{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-between;
    width: 80%;
}

.phone{
    width:35%;
}

.input-fields label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
   
}

.input-fields input, .input-fields select{
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    font-weight: 400;
    color:black ;
    border: 1px solid #aaa;
    padding: 0 20px;
}

.input-fields input::placeholder{
    text-align: center;
    font-weight: 500;
}



.network .radio{
    display: flex;
    align-items: center;

    font-size: 20px;
    font-weight: 500;
}

.radio span{
    margin-left: 10px;
}

.submit-btn{
    position: absolute;
    bottom: -40px;
    right: 50px;
}

button{
    width: 200px;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #CAA369;
    border: none;
    border-radius: 5px;
}

.tel-logo{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    
}

.tel-logo span img{
    border-radius: 5px;
}

/*Tablet Styling*/
@media (max-width:768px){
    aside img{ display: none;}


  main{
    padding:30px
  }

    .submit-btn {
        position: absolute;
        bottom: -40px;
        left: 0;
    
    
    }

    .network {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

   
}

/*Mobile styling*/

@media (max-width:550px){
    .input-fields{
        width: 100%;
    }

    .network {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

    .network .radio {
        display: flex;
        align-items: center;
    
        font-size: 20px;
        font-weight: 500;
    }
    
    .radio span {
        margin-left: 5px;
    }
    .phone {
        width: 100%;
    }

   
    
    .submit-btn {
        position: absolute;
        bottom: -40px;
        left: 0;
        
        
    }
}



