*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*victory for president*/
html {
  font-size: 62.5%;
}
body{
    background-color: #fff;
    font-size: 1.6rem;
}

nav{
    background-color: #fff;
/*     width: 100%;
    max-width: 100%; */
/*     padding: 0 15px; */
    
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 100%;
  box-shadow: 3px 3px 5px #ceced1;
/*     padding: 0 20px; */
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    transition:all 0.5s ease-in-out;
    
}

.menu ul a{
    font-size: 1.7rem;
    font-weight: 400;
    padding:0 1.6rem;
    color: #222222;
    text-decoration: none;
/*     margin: 0 8px; */
    display: inline-flex;
    
}


.links{
    display: flex;
}

.menu ul a:hover, .menu ul a:visited{
    color: #CAA369;
}

nav label.button{
    font-size: 30px;
    color: #222222;
    cursor: pointer;
    display: none;
}

nav label.button:hover{
    color: #CAA369;
}

.nav-img img{
    display: none;
}



@media (max-width:768px){
    .menu ul{
        /* display: none; */
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        max-width: 220px;
        width: 100%;
        padding-top: 60px;
        background-color:#F6F2E7;
        box-shadow:0 3px 10px #ceced1;
        transform:translateX(100%);
      z-index:999;
    }

    .menu ul a{
        margin-top: 20px;
        text-align: left;
        font-size: 20px;
        display:block;
        width: 100%;
        
    }

    .links{
        display: block;
    }
   
    nav label.bars{
        display: block;
    }

    nav label.cancel{
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
    }

      .nav-img img{
        margin-top:180px;
        display: block;
        position: fixed;
        
        left: 12px;
    }

    
}



/*Home page styles - Desktop view*/

main{
    
    width: 100%;
    max-width: 100%;
    margin: auto;
    

}

.content-container{
    display: flex;
    flex-direction: row;
    margin:0 auto;
   align-items: center;
   justify-content: center;
    padding-top: 20px;
    max-width: 100%;
/*     margin-left: 40px; */
    
   
}

aside img {
    max-height: 100vh;
    margin-right: 50px;
    height: 700px;
  margin-top: 30px;
  margin-left:20px;
  width: 500px;
 
}



.form-title{
    font-size: 35px;
    font-weight: 500;
    
}

form{
  width: 100%;

}

.fields{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
   
}

.input-fields{
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 30px);
    margin-bottom: 20px;
    margin-right: 20px;
}

.network{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-between;
    width: 80%;
}

.phone{
    width:35%;
}

.input-fields label{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
   
}

.input-fields input, .input-fields select{
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    font-weight: 400;
    color:black ;
    border: 1px solid #aaa;
    padding: 0 20px;
}

.input-fields input:focus{
    border: 1px solid #CAA369
}
.input-fields input::placeholder{
    text-align: center;
    font-weight: 400;
}



.network .radio{
    display: flex;
    align-items: center;

    font-size: 20px;
    font-weight: 500;
}

.radio span{
    margin-left: 10px;
}

.submit-btn{
    position: absolute;
    bottom: -40px;
    right: 50px;
}

button{
    width: 200px;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
   background: linear-gradient(90deg, rgba(202,163,105,1) 0%, rgba(186,148,96,1) 47%, rgba(170,133,86,1) 100%);
    border: none;
    border-radius: 5px;
}

.tel-logo{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    
}



.tel-logo span img{
    border-radius: 5px;
}

.mtn, .airtel, .glo, .nine-mobile{
    display: none;
}


/*Tablet Styling*/
@media (max-width:768px){
    aside img{ display: none;}


  main{
    padding:30px
  }

    .submit-btn {
        position: absolute;
        bottom: -40px;
        left: 0;
    
    
    }

    .network {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

   
}

/*Mobile styling*/

@media (max-width:480px){
    .input-fields{
        width: 100%;
    }

    .network {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

    .network .radio {
        display: flex;
        align-items: center;
    
        font-size: 20px;
        font-weight: 500;
    }
    
    .radio span {
        margin-left: 5px;
    }
    .phone {
        width: 100%;
    }

   
    
    .submit-btn {
        position: absolute;
        bottom: -40px;
        left: 0;
        
        
    }
}



